<%= form_with(model: quote) do |form| %>
  <% if quote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="form-element">

    <%= form.button "Refresh", formaction: new_quote_path, formmethod: :get, data: { turbo_frame: :total_amount,form_element_target: "submitbtn" } %>

    <div>
      <%= form.label :quote_type, class: "form-label", style: "display: block" %>
      <%= form.select :quote_type, Quote.quote_types.keys.map{ |key| [key.humanize, key] }, {include_blank: true, class: "form-select"},{ data: { action: "change->form-element#remotesubmit" }}%>
    </div>

    <div class="mt-2">
      <%= form.label :client_id , class: "form-label", style: "display: block" %>
      <%= form.collection_select :client_id, Client.all, :id, :company, class: "form-select", :prompt => "Select the client" %>
    </div>

    <div class="col-4 mt-2">
      <%= form.label :status, "Status", class: "form-label", style: "display: block" %>
      <%= form.select :status, Quote.statuses.keys ,class: "form-select", prompt: "Select quote status" %>
    </div>

    <div class="col-4 mt-2">
      <%= form.label :extra_amount, "Extra Amount", class: "form-label", style: "display: block" %>
      <%= form.number_field :extra_amount, data: { action: "change->form-element#remotesubmit" }, class: "form-control" %>
    </div>




  
  <% quote.amount = quote.extra_amount.to_i + Quote.quote_types[quote.quote_type].to_i %>
 
  </div>

    <%= turbo_frame_tag :total_amount do %>
      <div class="mt-2">
        Amount for service: <%= quote.amount %> MXN
      </div>
      <div>
        <%= form.hidden_field :amount, value: quote.amount %>
      </div>
    <% end %>

    <div class="mt-3">
      <%= form.submit class: "btn btn-outline-secondary" %>
    </div>
<% end %>
