<%= form_with(model: quote) do |form| %>
  <% if quote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% quote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :quote_type, style: "display: block" %>
    <%= form.text_field :quote_type %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.collection_select :client_id, Client.all, :id, :company, :prompt => "Select the client" %>
  </div>

  <div>
    <%= form.label :logo, style: "display: block" %>
    <%= form.file_field :logo %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
