<div id="<%= dom_id quote %>">
  <p>
    <strong>Type:</strong>
    <%= quote.quote_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= quote.amount %>
  </p>

  <p>
    <strong>Client id:</strong>
    <%= quote.client_id %>
    <strong>Client Name:</strong>
    <%= quote.client.company %>
  </p>

  <p>
    <strong>Logo</strong>
  </p>

  <% if quote.logo.present? %>
    <%= image_tag(quote.logo, style:'width:300px;height:300px')%>
  <% end %>

</div>

<%= link_to "View PDF", quote_pdf_path(quote)%>
