<div class="container">
  <h1>Quotes</h1>
  <%= link_to "New quote", new_quote_path, class: "btn btn-success" %>

  <div class="table-responsive-md mt-3">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Company</th>
          <th scope="col">Quote Type</th>
          <th scope="col">Package Amount</th>
          <th scope="col">Extra Amount</th>
          <th scope="col">Total amount</th>
          <th scope="col">Created At</th>
          <th scope="col">View PDF</th>
          <th scope="col" colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @quotes.each do |quote| %>
          <tr scope="row" class="table-light">
            <td><%= quote.client.company %></td>
            <td><%= quote.quote_type.humanize %></td>
            <td><%= number_to_currency(Quote.quote_types[quote.quote_type], precision: 0) %></td>
            <td><%= number_to_currency(quote.extra_amount, precision: 0) %></td>
            <td><%= number_to_currency(quote.amount, precision: 0) %></td>
            <td><%= quote.created_at.to_date %></td>
            <td><%= link_to "View PDF", quote_pdf_path(quote) %></td>
            <td class="text-center"><%= link_to "Show", quote_path(quote), :class => "btn btn-secondary" %></td>
            <td class="text-center"><%= link_to "Edit", edit_quote_path(quote), :class => "btn btn-secondary" %></td>
            <td class="text-center"><%= link_to "Delete", quote_path(quote), :class => "btn btn-danger" ,data: { "turbo_method": :delete, "turbo_confirm": "Are you sure?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>