<% if @client.errors.any? %>
	<h2>The following errors prevent saving the client</h2>
	<ul>
	<% @client.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>

<%= form_with(model: @client, local: true) do |f| %>

	<div> 
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

	<div>
		<%= f.label :company %>
		<%= f.text_field :company %>
	</div>

	<div> <%= f.submit %> </div>

<% end %>