<div class="d-flex flex-column h-100">

	<!-- Card 1 -->

	<div class="row">
		<div class="card text-bg-light m-3 col-4" style="max-width: 18rem;">
			<div class="card-header">Showing Client</div>
			<div class="card-body">
				<div><b>Client First Name:</b> <%= @client.first_name %></div>
				<div><b>Client Last Name:</b> <%= @client.last_name %></div>
				<div><b>Company:</b> <%= @client.company %> </div>
				<div><b>Industry:</b> <%= @client.industry %> </div>
				<div><b>Location:</b> <%= @client.location %> </div>
				<div><b>Status:</b> <%= @client.status %></div>
				<div><b>Created:</b> <%= time_ago_in_words(@client.created_at) %> ago</div> 
				<div><b>Updated:</b> <%= time_ago_in_words(@client.updated_at) %> ago</div>
				<div><b>Created by:</b> <%= @client.user.first_name %></div>
			</div>
		</div>

		<!-- Card 2 -->

		<div class="card text-bg-light m-3 col-4" style="max-width: 18rem;">
			<div class="card-header">Client Contact Info</div>
			<div class="card-body">
				<div><b>Phone:</b> <%= @client.phone %></div>
				<div><b>Whatsapp:</b>
					<%= @client.whatsapp %>
					<% if @client.whatsapp.present? %>
						<%= link_to icon("whatsapp", class: "text-success"),
						"https://api.whatsapp.com/send/?phone=" + @client.whatsapp,
						target: '_blank' %>
					<% end %>
				</div>
				<div><b>Email: </b>
					<%= @client.email %>
					<% if @client.email.present? %>
						<%= link_to icon("envelope", class: "text-primary" ),
						"mailto:" + @client.email %>
					<% end %>
				</div>
				<div><b>Facebook:</b>
					<% if @client.facebook.present? %> 
						<%= link_to @client.facebook,
						if @client.facebook.include? "http://"
						then @client.facebook else "https://" + @client.facebook end %> 
					<% end %>
				</div>
				<div><b>Instagram:</b>
					<% if @client.instagram.present? %> 
						<%= link_to @client.instagram,
						if @client.instagram.include? "https://" 
						then @client.instagram else "https://" + @client.instagram end %> 
					<% end %>
				</div>
				<div><b>LinkedIn:</b>
					<% if @client.linkedin.present? %> 
						<%= link_to @client.linkedin,
						if @client.linkedin.include? "https://" 
						then @client.linkedin else "https://" + @client.linkedin end %>
					<% end %>
				</div>
			</div>
		</div>

		<!-- Card 3 -->

		<div class="card text-bg-light m-3 col-4" style="max-width: 18rem;">
			<div class="card-header">More Client Info</div>
			<div class="card-body">
				<div><b>Notes:</b> <%= @client.notes%></div>
				
			</div>
		</div>
	</div>
		
		<!-- Buttons -->
		<div class="ms-3">
			<div class="my-2">
				<%= link_to "Clients Home", clients_path, class: "btn btn-outline-primary"%>
			</div>
			<div class="my-2">
				<%= link_to "Send Welcome Email", client_path(@client)+'/send_welcome', class: "btn btn-outline-warning" %>
			</div>
			<div class="mb-2">
				<%= link_to "Edit Client", edit_client_path(@client), class: "btn btn-outline-success" %>
			</div>
			<div class="mb-2">
				<%= link_to "Delete Client", client_path(@client), data: { "turbo_method": :delete, "turbo-confirm": "Are you sure?"}, class: "btn btn-outline-danger" %>
		</div>

	</div>

	<!-- Quotes -->

	<div class="ms-3">
		<h3>Quotes</h3>
	</div>
	<% if @client.quotes.empty? %>
		<div class="ms-3"> No quotes available </div>
	<% end %>
		
	
	<% @client.quotes.each do |quote|  %>
		<div class="m-3">
			<div>
				Quote Type: <%= quote.quote_type.humanize  %>
			</div>
			<div>
				Quote Amount: <%= number_to_currency(quote.amount, precision: 0) %>
			</div>
			<div>
				<%= link_to "View PDF", quote_pdf_path(quote) %>
			</div>
			<div >
				<%= link_to "Email quote to client", '#' %>
			</div>
		</div>
	<% end %>
</div>


