<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <% if current_user %>
      <%= link_to "Spacebyn CRM", clients_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "Spacebyn CRM", root_path, class: "navbar-brand" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "Clients", clients_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Statistics", stats_path, class: "nav-link" %>
          </li>
        <% end %>
      <% if !current_user %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
        </li>
      <% end %>
      </ul>

      <ul class="navbar-nav">
        <%= render "user/session_manager" %>
      </ul>

    </div>
  </div>
</nav>