<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>SbCrm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/messages' %>
    <!--<% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %> 
    <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>!-->

    <div>
      <%= yield %>
    </div>
    
  </body>
  <%= render 'layouts/footer' %>
</html>
